:root{
    --color1:rgb(255, 255, 255);
    --color2:rgb(221, 221, 221);
    --color3:#8a8a8a;
}

.scrollableScreen {
    height: calc(100vh - 70px);
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scrollableScreen::-webkit-scrollbar{
    display:none;
}

.page{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: rgb(45, 45, 45);
}

.intro{
    background-color: transparent;
    text-align:center;
    font-weight:300;
    font-size:36px;
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
}

.introWrapper{
  position: relative;
  width: 100%;
  height:100%;
}

.introImages {
  position: relative;
  z-index: 1;
  opacity: 0.35;
}


.mapPage{
    position: relative;
    width: 100vw;
    background-color: var(--color2);
    display:block;
}

.selectt{
  position: relative;
  width: 100%;
  height: 100%;
}

.mapContainer{
    position: absolute;
    height: 80vh;
    width: 70vw;
    left: 4.5%;
}

.map{
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}


.optionBox{
  position: absolute;
  height: 80vh;
  width: 20vw;
  right: 3.5%;
  display: block;
}

.chartWrapper{
  margin-top: 5%;
  bottom: 0;
  border: 1px solid black;
  transition: all 0.5s;
}

.chartBigWrapper{
  transition: all 0.5s;
  position: absolute;
  height: 80vh;
  width: 95vw;
  bottom: 0px;
  right: 0px;
  border: 1px solid black;
  background-color: white;
}

/* Style buttons */
.btn {
  position: absolute;
  right: 0;
  margin: 5px;
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 8px 11px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

#myChart{

}



.mapSwitch {
  position:relative;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-left: auto;
  margin-right:auto;
  width: 30%;
  font-size: 30px;
}

@keyframes mapSlideFromRight{
  from {transform: translateX(300px)}
  to {}
}

@keyframes mapSlideFromLeft{
  from {transform: translateX(-300px)}
  to {}
}

@keyframes mapOpacity{
  from {opacity:0;}
  to {opacity:1;}
}

.slide1 {
  display: block;
  animation: mapSlideFromLeft 500ms ease-in-out both,mapOpacity 750ms ease-in-out both

}

.slide2 {
  display:block;
  animation: mapSlideFromRight 500ms ease-in-out both, mapOpacity 750ms ease-in-out both;
}

.layerSelection {
  position: relative;
  margin-top: 5%;
  color: black;
  font-size: 20px;
}

.summary{
    background-color: var(--color2);
}

.references{
    background-color: var(--color2);
}

.background{
    /*height: 200%;
    display:flex;
    justify-content: center;
    align-items: top;
    font-size: 60px;
    color: rgb(45, 45, 45);*/
    background-color: var(--color2);
}

.authors{
    height: 50vh;
    color: black;
    background-color: var(--color3)
}

/* Info Graphic */
.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 35%;
  width: 100%;
}

/* Textboxes*/
.text-box{
  /*position: center;*/
  font-family: sans-serif;
  /*max-width: 686px;*/
  /*height: 220px;*/
  background: #dddddd;
  /*padding:;*/
  /*box-shadow: 0 0 22px #3336;*/
  /*margin: 30px 20px 30px 20px;*/
  /* margin-left: 20px;*/
  position: relative;
  height: 80vh;
  width: 80vw;
  float: left;
}

.text-title{
  text-align: center;
  padding: 20px;
  font-size: 36px;
  color: rgb(64, 64, 64);
}

.text-section{
  padding: 5px;
  text-align: left;
  font-size: 15px;
  line-height: 1.15;
  margin-bottom:5px;
}

/* Video styling*/
.video-box{
  /*position: center;*/
  font-family: sans-serif;
  /*max-width: 686px;*/
  /*height: 220px;*/
  background: #dddddd;
  /*padding:;*/
  /*box-shadow: 0 0 22px #3336;*/
  /*margin: 30px 20px 30px 20px;*/
  /* margin-left: 20px;*/
  position: relative;
  height: 80vh;
  width: 80vw;
}

/* Navbar Styling */

.navContainer {
    background-color: var(--color1);
    padding: 0 20px;
    margin: 0 auto;
  }
  nav {
    overflow: hidden;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
  }

  nav ul li {
    display: inline-block;
    margin-left: 40px;
    height: 70px;
    line-height: 70px;
    transition: .5s linear;
    font-size: 18px;
  }
  
  nav ul li.active a{
    color: black;
    transition: 0.7s;
  }
  nav li:last-child{
      margin-right: 100px;
  }
  nav a {
    text-decoration: none;
    display: block;
    position: relative;
    color: rgb(91, 91, 91);
    text-transform: uppercase;
  }
  nav a:after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 17px;
    background: black;
    transition: width .5s linear;  
  }
  nav a:hover:after {width: 100%;}
  
  @media screen and (max-width: 660px) {
    header {text-align: center;}
    .logo-box {
      float: none;
      display: inline-block;
      margin: 0 0 16px 0;
    }
    ul {float: none;}
    nav li:first-of-type {margin-left: 0;}
  }
  @media screen and (max-width: 550px) {
  nav {overflow: visible;}
  nav a:after {content: none;}
  }

  nav a:hover{
    color: black;
  }

  .logo-box {
    float: left;
    margin-right: 20px;
  }
  .logo-box a {
    outline: none;
    display: block;
  }
  .logo-box img {display: block;}



/* Team Section */

.profile-card{
    position: relative;
    font-family: sans-serif;
    width: 220px;
    height: 220px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 0 25px;
    font-size: 21px
  }



  .profile-card:hover{
    border-radius: 10px;
    height: 260px;
  }

.profile-card .img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
  }

  .img img{
    width: 100%;
    height: 90%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
  }

  .profile-card:hover .img{
    transform: translateY(-60px);
  }

  .profile-card:hover img{
    border-radius: 10px;
  }

  .caption{
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;
  }
  .profile-card:hover .caption{
    opacity: 1;
  }
  .caption h3{
    font-size: 21px;
    font-family: sans-serif;
  }
  .caption p{
    font-size: 15px;
    color: #0c52a1;
    font-family: sans-serif;
    margin: 2px 0 9px 0;
  }
  .caption .social-links a{
    color: #333;
    margin-right: 15px;
    font-size: 21px;
    transition: .6s;
  }
  .social-links a:hover{
    color: #0c52a1;
  }



/* FadeIn */

.e {
    position: relative;
    top: -80%;
    display:inline-flex;
    overflow:hidden;
    white-space:nowrap;
  }
  
.e:first-of-type { 
animation: showup 7s infinite;
animation-fill-mode: forwards;
}

.e:last-of-type {
animation: reveal 7s infinite;
animation-fill-mode: forwards;
}
.e:last-of-type span {
margin-left:-300px;
animation: slidein 7s infinite;
animation-fill-mode: forwards;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}


/* LEGEND */

.arcslegend {
    position: absolute;
    /* position */
    left: 10px;
    bottom: 10px;
    /* size */
    width: 200px;
    height: 165px;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(49, 49, 49);
    padding: 7px;
    font-family: sans-serif;

}

.symbolslegend {
  position: absolute;
  /* position */
  left: 10px;
  bottom: 10px;
  /* size */
  width: 200px;
  height: 140px;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(49, 49, 49);
  padding: 7px;
  font-family: sans-serif;
}

.legend-break {
    line-height: 1.1;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
}

.text-legend {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-size: 14px;
    margin-block-start: 1px;
    margin-block-end: 1px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}